@{
    Layout = null;
}
@model HandleErrorInfo
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RangeError</title>
</head>
<body>
    <div>
        controller:@Model.ControllerName
        <br />
        action:@Model.ActionName
    </div>
</body>
</html>
