@{
    Layout = null;
}
@model ProMvc4.Models.Result
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Result</title>
</head>
<body>
    <div>
        Controller:@Model.ControllerName
    </div>
</body>
</html>
